html, body, #divMap{            
    height: 100%;           
    margin: 0;
    padding: 0;
}
#divMap{
    height: 95%;
    width: 100%;
    border: solid;
}
#divInput{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.scalebar_bottom-left.esriScalebar{
    margin-bottom: 75px;
}